<div>
<div>
<% if user_signed_in? %>

By <%= @post.user.username%></h1>
<% end %>
</div>
<div>
<p> <%= @post.body %> </p>
</div>

<%= @post.likes.count %> Likes
<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', post_likes_path(@post), method: :post %>
<% end %>


<br>

<h2>Add a comment:</h2>
<%= form_with model: [ @post, Comment.new ] do |form| %>
   
  <p>


    
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<br>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.user.username %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

</div>